<?xml version="1.0" encoding="utf8" ?>
<phpunit colors="true" stopOnFailure="false" syntaxCheck="true" backupGlobals="false"
    convertErrorsToExceptions="true" convertNoticesToExceptions="true"
    convertWarningsToExceptions="true" bootstrap="vendor/autoload.php"
>
    <testsuite name="youtube tests">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
